.button_save_firm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  margin-left: 14vw;
  margin-top: 2vh;
  height: 4vh;
  cursor: pointer;
  background-color: var(--bleu);
  color: var(--white);
  border-radius: 18px;
  border: none;
}
